.bottom {
  padding: 41px 94px;
  background: #F7F7F7;
  display: flex;

  &__cards {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    gap: 25px;
  }
  &__card {
    width: calc(50% - 15px);

  }
  &__card1 {
    background: #FFDBC3;
    padding: 52px 0 20px;
    text-align: center;
    &:hover{
      fill: rgba(255, 255, 255, 0.30);
    }
    &-img {
      display: flex;
      text-align: center;
    }
    &-title {
      color: var(--292929, #292929);
      text-align: center;
      font-size: 20px;
      font-weight: 600;
    }
    &-text {
      color: var(--292929, #292929);
      text-align: center;
      font-size: 16px;
      font-weight: 400;
      padding: 30px;
    }
  }
  &__card2{
    padding: 36px 0 20px;
    text-align: center;
    opacity: 0.8;
    background: #FFC2CC;
  }
  &__card3{
    padding: 36px 0 20px;
    text-align: center;
    opacity: 0.8;
    background: #B4EAB3;
  }

  &__card4{
    padding: 36px 0 20px;
    text-align: center;
    opacity: 0.8;
    background: #FDD5CD;
  }
  &__card5{
    padding: 36px 0 20px;
    text-align: center;
    opacity: 0.8;
    background: #A8DCDF;
  }
  &__card6{
    padding: 36px 0 20px;
    text-align: center;
    opacity: 0.8;
    background: #C4C6EC;
  }
  &__btn{
    display: flex;
    justify-content: center;
    margin: 17px 0 18px;
    background: #8CC4EC;
  }
}