.header{
  &__top {
    background: #D4E9F9;
    padding: 9px 0;
    &-row {
      display: flex;
      justify-content: center;
    }
    &-card {
      display: flex;
      align-items: center;
      column-gap: 39px;
    }
    &-one{
      display: flex;
      text-align: center;
    }
    &-one1{
      display: flex;
      align-items: center;
      position: absolute;
      top: 16px;
      left: 299px;
    }
    &-one2{
      display: flex;
      text-align: center;
      position: relative;
      top: 7px;
      left:-59px;
    }
  }
  .header {
    &__center {
      display: flex;
      justify-content: center;
      padding: 12px 0;
      background: #F7EBE5;
      &-text {
        display: flex;
        text-align: center;
        padding: 15px 0 16px;
        font-family: Proxima Nova;
        column-gap: 30px;
        color: rgba(0, 0, 0, 0.79);
        font-size: 14px;
        font-weight: 400;
      }
    }

    &__right {
      display: flex;
      align-items: center;
      column-gap: 30px;
      &-item {
        display: flex;
        align-items: center;
        column-gap: 5px;
        justify-content: space-between;
        color: rgba(0, 0, 0, 0.88);
        font-size: 14px;
        font-weight: 400;
        span{
          display: flex;

        }
      }
    }
  }
  &__nav {
    background: #FFF;
    padding: 19px 0;
  }
  &__links{
    display: flex;
    align-items: center;
    column-gap: 30px;
    cursor: pointer;
  }
  &__link{
    display: flex;
    justify-content: center;
    padding: 72px 0;
    color: #2B1414;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    span{
      display: flex;
      align-items: center;
      margin: 5px;
      position: relative;
    }
    p{
      display: flex;
      align-items: center;
      color: #FFF;
      font-family: Proxima Nova;
      font-size: 15px;
      font-weight: 400;
      position: absolute;
      top: 277px;
      right: 0;
      left: 280px ;

    }
  }
  &-img{
    width: 100%;
  }
  &__swiper {
    position: relative;
    padding: 9px 0;
  }
  .swiper {
    width: 100%;
    height: 100%;

  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #D4E9F9;
    display: flex;
    justify-content: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;

  }
}
.header__top{
  position: relative;
}
.header__swiper-next {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  padding-right: 100px;
  cursor: pointer;
}
.header__swiper-prev {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  padding-left: 100px;
  cursor: pointer;
}



