.news{
  padding: 85px;
  background: #F7F7F7;
  position: relative;
  button{
    position: absolute;
    border-radius: 3px;
    border: 1px solid #4E9DD3;
    color: #000;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    padding: 17px 48px;
    cursor: pointer;
    margin: 0 460px;
  }

  &__title{
    color: var(--292929, #292929);
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin: 40px;
  }
  &__card{
    display: flex;
    flex-direction: column;
    column-gap: 29px;
    &-img{
      width: 100%;
      height: 210px;
      object-fit: cover;
    }
    &-block{
      border-radius: 5px;
      border: 1px solid #EDEDF0;
      background: #FFF;
      padding: 20px;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 210px;
      span{
        color: #969696;
        font-size: 14px;
        font-weight: 400;
        padding: 10px;
      }
    }
    &-text{
      color: var(--292929, #292929);
      font-size: 18px;
      font-weight: 600;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    &-desc{
      color: var(--292929, #292929);
      width: 100%;
      font-size: 14px;
      font-weight: 400;
      padding: 10px 0 50px ;
    }
  }
  &__bottom {
    display: flex;
    justify-content: flex-end;
  }
  &__pagination {
    width: 100px!important;
    .swiper-pagination-bullet {
      width: 12px;
      height: 12px;
      border-radius: 0;
      border: 2px solid #E5E5E5;
      background: #FFFFFF;
      &-active{
        background: #E7426A;
      }
    }
  }
}