@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@ 300;500;600;700&display=swap');*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  list-style-type: none;
  transition:  .5s;
}
.container{
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}



@import "header";
@import "macaron";
@import "new";
@import "bottom";
@import "hapyy";
@import "sets";
@import "news";
@import "we";
@import "footer";
@import "overlay";



