.we{
  background:  #F7F7F7;
  padding: 85px 0 37px;
  &__title{
    color: var(--292929, #292929);
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    padding: 40px;
  }
  &__cards{
    display: flex;
    column-gap: 30px;
  }
 &__text{
   margin: 29px 0 11px;
   color: var(--292929, #292929);
   font-size: 18px;
   font-weight: 600;
 }
  &__desc{
    color: var(--292929, #292929);
    font-size: 14px;
    font-weight: 400;
    margin: 0 0 40px;
  }
}